/*Ajustes generales de la pagina*/
body {
    display: flex;
    flex-direction: column;
    height: 125vh; /* Altura mínima igual a la ventana */
    font-family: 'Asap',sans-serif;
  }
  
main {
    background: rgb(16,73,121);
    background: linear-gradient(180deg, rgba(16,73,121,1) 49%, rgba(9,42,70,1) 99%);
    width: 100%;
  }

  /*Seccion Barra da navegacion*/
  header{
    width: 100%;
    height: 180px;
    background-color: #1D3892;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader img{
    width: 450px;
    margin-left: 50px;
}

nav{
    margin-right: 80px;
    padding: 35px 0;
}

nav li{
    display: inline;
    padding: 44px 25px;
}

nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

nav li a:hover{
    color: #50B2F1;
    cursor: pointer;
}

nav ul {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

nav li {
    position: relative;
    padding: 20px 25px;
    display: flex; 
    align-items: center;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0px;
    background-color: #1768AC;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    z-index: 1000;
}

.submenu li {
    width: 100%;
    text-align: left;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.submenu li a:hover {
    color: #50B2F1;
}

.dropdown:hover .submenu {
    display: block;
}
 /*Fin Seccion Barra da navegacion*/

 /*Titulo de la Seccion*/
 .mainPageTitle {
    width: 100%;
    height: 100px;
    background-color: #1768AC;
    display: flex;
    align-items: center;

}

.mainPageTitle h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    margin-left: 50px;
}
 /*Fin Titulo de la Seccion*/

 /*Formulario creacion de Noticias*/

#sctFormNewNew{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(16,73,121);
    background: linear-gradient(180deg, rgba(16,73,121,1) 49%, rgba(9,42,70,1) 99%);
    height: auto;
    min-height: 100vh;
}

#conteinerForm {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    margin: 10px;
    background-color: #D9D9D9; /* Color de fondo del contenedor */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#titleNewNew{
    height: 40px;
    background-color: #1D3892;
    display: center;
    align-items: center;
    border-radius: 8px;
}

#titleNewNewH1{
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px ;
}


#formNewNew{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 40x;
    align-items: center;
}

.inputForm {
    width: 70%;
    padding: 3px;
    margin: 9px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    color: #1D3892;
    font-size: 18px;

}

.inputFormContent {
    width: 70%;
    padding: 3px;
    margin: 9px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    color: #1D3892;
    font-size: 18px;

}

.categorySelect {
    width: 71%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    margin-top: 10px;
}


/*Boton crear*/
#btnBotonCrear {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #1768AC;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/*Cambio de color cuando el mause pasa por encima (Crear)*/
#btnBotonCrear:hover {
    cursor: pointer;
    background-color: #1D3892;
    color: white;
}

/*Boton Publicar*/
#btnBotonPublicar {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #EAC102;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/*Cambio de color cuando el mause pasa por encima (Publicar)*/
#btnBotonPublicar:hover {
    background-color: #1D3892;
    cursor: pointer;
    color: white;
}

/*Boton Limpiar*/
#btnBotonLimpiar {
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Asap', sans-serif;
    background-color: #EA0202;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}


/*Cambio de color cuando el mause pasa por encima (Limpiar)*/
#btnBotonLimpiar:hover {
    cursor: pointer;
    background-color: #b43838;
    color: white;
}

/*parametros del formulario*/
.labelFormulario{
    font-size: 20px;
    margin: 10px;
}

#textDescription{
    height: 100px;
}
/*Fin parametros del formulario*/

/*Validaciones del formulario */

.error{
    border: 2px solid red;
}

/*Footer*/

footer {
    width: 100%;
    background-color: #1D3892;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative; /* Asegura que se mantenga en la parte inferior */
    bottom: 0;
}

#copyright {
    margin-left: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

#logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoFooter img {
    width: 150px;
    height: auto;
}

#navFooter {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 50px;
    gap: 10px;
}

#navFooter a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#navFooter a:hover {
    color: #50B2F1;
}

img{
    max-width: 100%;
}