body {
    display: flex;
    flex-direction: column;
    height: 125vh; /* Altura mínima igual a la ventana */
    font-family: 'Asap',sans-serif;
  }
  
  main {
    flex: 1; /* Ocupa el espacio disponible */
  }
  



header{
    width: 100%;
    height: 180px;
    background-color: #1D3892;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoHeader img{
    width: 450px;
    margin-left: 50px;
}

nav{
    margin-right: 80px;
}

nav li{
    display: inline;
    padding: 44px 25px;
}

nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

nav li a:hover{
    color: #50B2F1;
    cursor: pointer;
}

nav ul {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

nav li {
    position: relative;
    padding: 20px 25px;
    display: flex; 
    align-items: center;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0px;
    background-color: #1768AC;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    z-index: 1000;
}

.submenu li {
    width: 100%;
    text-align: left;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.submenu li a:hover {
    color: #50B2F1;
}

.dropdown:hover .submenu {
    display: block;
}


#mainNewsPage {
    width: 100%;
    height: 100px;
    background-color: #1768AC;
    display: flex;
    align-items: center;
}

#mainNewsPage h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    padding-left: 50px;
}


/*Date Conteiner*/

/* Style Date Conteiner*/
.dateContainer{
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

/* Estilo para el input de fecha */
.datePicker {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    margin-right: 10px;
}

#rangeDate{
    color:black;
    white-space: nowrap; /* Evita el salto de línea en la etiqueta */
    font-size: 25px;
    text-align: left;
    margin-right: 10px;
}



/*NEW EVENT FORM*/

#sctFormNewEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(16,73,121);
    background: linear-gradient(180deg, rgba(16,73,121,1) 49%, rgba(9,42,70,1) 99%);
    height: auto;
    min-height: 100vh;
}

#conteinerForm {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    margin: 10px;
    background-color: #D9D9D9; /* Color de fondo del contenedor */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#titleNewEvent{
    height: 40px;
    background-color: #1D3892;
    display: center;
    align-items: center;
    border-radius: 8px;
}

#titleNewEventH1{
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px ;
}


#formNewEvent{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 40x;
    align-items: center;
}

.inputForm {
    width: 70%;
    padding: 3px;
    margin: 9px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    color: #1D3892;
    font-size: 18px;

}

.dateTimePicker {
    width: 69%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    margin-right: 10px;
}

.categorySelect {
    width: 71%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    margin-top: 10px;
}


/* Style btnBotonCrear*/
#btnBotonCrear {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #1768AC;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Change the color when passs the mouse */
#btnBotonCrear:hover {
    cursor: pointer;
    background-color: #1D3892;
    color: white;
}

/* Style btnBotonPublicar*/


#btnBotonPublicar {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #EAC102;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Change the color when passs the mouse */
#btnBotonPublicar:hover {
    background-color: #1D3892;
    cursor: pointer;
    color: white;
}


.labelFormulario{
    font-size: 20px;
    margin: 10px;
}


#textDescription{
    height: 100px;
}



/*Validaciones del formulario */

.error{
    border: 2px solid red;
}



/*Proximos Eventos*/


#titleUpcomingEvents{
    width: 100%;
    font-size: 50px;
    color: #1D3892;
    background-color: white;
    text-align: center;
}

/*Imagen*/

#imageUpcomingEvents{
    width: 100%;
    height: 350px;
}


#imageNextEvents{
    background-image: url("https://static.euronews.com/articles/library/111/24/14/775/245/66/11148baa723f0fc2485ae1488b77539d6aebc2456654/1200x675_cmsv2_580a4791-ae4c-5d32-be01-5db4f2062136-11148baa723f0fc2485ae1488b77539d6aebc2456654.jpg");
}

.styleImagen{
    background-position: center;
    width: 100%;
    height: 350px; /* O ajusta según necesidad */
    background-repeat: no-repeat;
    object-fit: contain;
}


/*Se listen los eventos en contenedores*/


#containerEvents {
    width: 95%;
    height: 100%px;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; 
    margin-left: 30px;  
}

#eventContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.eventCard {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 300px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.eventCard:hover {
    transform: scale(1.05);
    border: 3px solid #EAC102;;
}

.eventHeader {
    font-size: 25px;
    width: 100%;
    background-color: #1D3892;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.eventDetail {
    font-size: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Footer*/

footer{
    width: 100%;
    background-color: #1D3892;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

#copyright {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

#logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

#logoFooter img {
    width: 200px;
    height: auto;
}

#navFooter {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 50px;
    gap: 20px;
}

#navFooter a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#navFooter a:hover {
    color: #50B2F1;
}