/*Ajustes generales de la pagina*/
body {
    display: flex;
    flex-direction: column;
    height: 125vh; /* Altura mínima igual a la ventana */
    font-family: 'Asap',sans-serif;
  }
  
main {
    background: rgb(16,73,121);
    background: linear-gradient(180deg, rgba(16,73,121,1) 49%, rgba(9,42,70,1) 99%);
    width: 100%;
  }

  /*Seccion Barra da navegacion*/
header{
    width: 100%;
    height: 180px;
    background-color: #1D3892;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader img{
    width: 450px;
    margin-left: 50px;
}

nav{
    margin-right: 80px;
    padding: 35px 0;
}

nav li{
    display: inline;
    padding: 44px 25px;
}

nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

nav li a:hover{
    color: #50B2F1;
    cursor: pointer;
}

nav ul {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

nav li {
    position: relative;
    padding: 20px 25px;
    display: flex; 
    align-items: center;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0px;
    background-color: #1768AC;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    z-index: 1000;
}

.submenu li {
    width: 100%;
    text-align: left;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.submenu li a:hover {
    color: #50B2F1;
}

.dropdown:hover .submenu {
    display: block;
}
 /*Fin Seccion Barra da navegacion*/

 /*Titulo de la Seccion*/
 .mainPageTitle {
    width: 100%;
    height: 100px;
    background-color: #1768AC;
    display: flex;
    align-items: center;

}

.mainPageTitle h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    margin-left: 50px;
}
 /*Fin Titulo de la Seccion*/

 /*Seccion Principal de Noticias*/
.newsSeccion{
    margin: 35px 0;
}

    /*Imagen principal*/
    #imageMostRecentNew {
        width: 100%;
        height: 500px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px; 
        overflow: hidden; 
    }
    

    #imageRecentNews {
        width: 90%;
        height: 100%;
        background-image: url("../IMG/noticiasBackground.jpg");
        background-size: cover;
        background-position: center bottom;
        border-radius: 10px; /
    }

    .styleImagen{
        width:100%;
        height:100%;
        background-image: url("../IMG/imageEvent.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px; /      
    }


    /*Fin Imagen principal*/

    /*Caracteristicas de los contenedores*/
    #newsCountainer {
        width: 95%;
        height: 100%px;
        padding: 20px;
        background-color: #D9D9D9;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 25px auto;
    
    }
    
    #articleCountainer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    
    }
    
    .newCard {
        background-color: #FFFFFF;
        width: 100%;
        max-width: 300px;
        height: 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    
    .newCard:hover {
        transform: scale(1.05);
        border: 3px solid #EAC102;;
    }
    
    .newsHeader {
        font-size: 25px;
        width: 100%;
        background-color: #1D3892;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .newsDetail {
        font-size: 20px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*Fin Caracteristicas de los contenedores*/

/*Fin Seccion Principal de Noticias*/

/*Footer*/

footer {
    width: 100%;
    background-color: #1D3892;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative; /* Asegura que se mantenga en la parte inferior */
    bottom: 0;
}

#copyright {
    margin-left: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

#logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoFooter img {
    width: 150px;
    height: auto;
}

#navFooter {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 50px;
    gap: 10px;
}

#navFooter a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#navFooter a:hover {
    color: #50B2F1;
}

img{
    max-width: 100%;
}
