* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 125vh; /* Altura mínima igual a la ventana */
    font-family: 'Asap',sans-serif;
}

main {
    background: rgb(16,73,121);
    background: linear-gradient(180deg, rgba(16,73,121,1) 49%, rgba(9,42,70,1) 99%);
    width: 100%;
}

header {
    width: 100%;
    height: 180px;
    background-color: #1D3892;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoHeader img {
    width: 450px;
    margin-left: 50px;
}

nav {
    margin-right: 80px;
    padding: 35px 0;
}

nav li {
    display: inline;
    padding: 44px 25px;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

nav li a:hover {
    color: #50B2F1;
    cursor: pointer;
}

nav ul {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

nav li {
    position: relative;
    padding: 20px 25px;
    display: flex; 
    align-items: center;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0px;
    background-color: #1768AC;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.6);
    z-index: 1000;
}

.submenu li {
    width: 100%;
    text-align: left;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.submenu li a:hover {
    color: #50B2F1;
}

.dropdown:hover .submenu {
    display: block;
}

#mainEventPage {
    width: 100%;
    height: 100px;
    background-color: #1768AC;
    display: flex;
    align-items: center;
}

#mainEventPage h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    margin-left: 50px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #1D3892;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Empuja el pie de página hacia abajo */
    position: relative;
    z-index: 10;
}

#copyright {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

#LogoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

#LogoFooter img {
    width: 200px;
    height: auto;
}

#NavFooter {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 50px;
    gap: 20px;
}

#NavFooter a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#NavFooter a:hover {
    color: #50B2F1;
}

/* Alineación de la caja Guia Denuncias */
#guiaDenuncias {
    display: flex;
    flex-direction: column;  /* Cambiar a columna para colocar el título encima */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #1768AC;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Título del bloque Guia Denuncias */
#tituloGuiaDenuncias {
    width: 100%;
    height: auto;
    background-color: #1D3892;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tituloGuiaDenuncias h2 {
    font-family: 'Asap', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: aliceblue;
}

/* Bloque de Contenido */
#contenidoBloque {
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 8px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 40x;
    font-family: 'Asap', sans-serif;
    align-items: center;
}

/* Página de Evento Principal */
#mainEventPage {
    width: 100%;
    height: 60px;
    background-color: #1768AC;
    display: flex;
    align-items: center;
    justify-content: left;
}

#mainEventPage h1 {
    font-family: 'Asap', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: aliceblue;
}

/* Formulario Nuevo Evento */
#sctFormNewEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #1768AC;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

#containerForm {
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 8px;
}

/* Título del formulario Nuevo Evento */
#titleNewEvent {
    height: 40px;
    background-color: #1D3892;
    display: center;
    align-items: center;
    border-radius: 8px;
}

#titleNewEventH1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    color: aliceblue;
    padding: 5px 5px 5px 5px;
}

/* Formulario para Nuevo Evento */
#formNewEvent {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 40x;
    font-family: 'Asap', sans-serif;
    align-items: center;
}

/* Estilo para los inputs del formulario */
.inputForm {
    width: 100%;
    padding: 3px;
    margin: 9px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    color: #1D3892;
    font-size: 18px;
}

.dateTimePicker {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    border: 2px solid #1768AC;
    border-radius: 5px;
    margin-right: 10px;
}

.categorySelect {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1768AC;
    border-radius: 5px;
    margin-top: 10px;
}

/* Estilos de los botones */
#btnBotonLimpiar {
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Asap', sans-serif;
    background-color: #1768AC;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#btnBotonLimpiar:hover {
    cursor: pointer;
    background-color: #1D3892;
    color: white;
}

#btnBotonCrear {
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Asap', sans-serif;
    background-color: #1768AC;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#btnBotonCrear:hover {
    cursor: pointer;
    background-color: #1D3892;
    color: white;
}

/* Estilo para las etiquetas del formulario */
.labelFormulario {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    margin: 10px;
}

#textDescription {
    height: 100px;
}

/* Estilos de validación */
.error {
    border: 2px solid red;
}

#file {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    margin: 10px;
}

#btnSubir {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    margin: 10px;
}

/* Listado de Denuncias */
#listadoDenuncias {
    display: flex;
    flex-direction: column;  /* Cambiar a columna para colocar el título encima */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #1768AC;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}

/* Título del listado de denuncias */
#tituloListadoDenuncias {
    width: 100%;
    background-color: #1D3892;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-radius: 8px 8px 0 0;
}

#tituloListadoDenuncias h2 {
    font-family: 'Asap', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: aliceblue;
}

/* Contenido del listado de denuncias */
#contenidoListado {
    width: 100%;
    background-color: aliceblue;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    margin-bottom: 50px; /* Espacio entre la tabla y el pie de página */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Asap', sans-serif;
    margin-bottom: 80px; /* Añadir margen inferior */
    background-color: aliceblue
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}

th {
    background-color: #1768AC;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para las clases de estado */
.estado {
    font-weight: bold;
    text-transform: uppercase;
}

.pendiente {
    color: orange;
}

.resuelto {
    color: green;
}

.rechazado {
    color: red;
}

/* Estilos generales para HTML y Body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#mainContent {
    flex: 1; 
    padding-bottom: 50px; 
}
